
/* Footer */

.Footer {
	height: 100%;
	padding: 2em 0;
	position: relative;
	width: 100%;
}

/* Footer background */

.Footer-background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.Footer-inner {
	position: relative;
	width: 100%;
}

.Footer-logo,
.Footer-message {
	margin-bottom: 1.5em;
}


@media (min-width: 48em) {

	/* Footer inner */

	.Footer-inner {
		-webkit-align-items: center;
		align-items: center;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.Footer-logo {
		flex: 1;
	}

    .FooterNav {
	    flex: 1;
    }

    .Footer-message {
	    flex: 2;
	    text-align: center;
	    padding: 0 1em;
    }

}

@media (min-width: 60em) {



}

@media (min-width: 72em) {}

@media (min-width: 96em) {}