
/* Footer Nav List */

.FooterNavList {
	width: 100%;
}

.FooterNavList-item a {
	width: 6em;
	display: inline-block;
}

@media (min-width: 48em) {

	.FooterNavList-item a {
		text-align: right;
	}

}