
/* Header */

.Header {
	width: 100%;
	padding: 1.3125em 0 16em;
}

.Header-background {
	height: 100%;
	position: absolute;
	width: 100%;
}

.Header-inner {
	height: 100%;
	position: relative;
	width: 100%;
}

@media (min-width: 60em) {

	.Header-inner.container {
		max-width: 48em;
	}

}

@media (min-width: 72em) {

	.Header-inner.container {
		max-width: 72em;
	}

}

@media (min-width: 96em) {

	.Header {
		padding: 6em 0 36em;
	}

	.Header-inner.container {
		max-width: 96em;
	}

}