
/* Logo */

.Logo {
	height: 3.75em; /* width divided by 2 */
	width: 7.5em; /* height times 2 */
	position: relative;
}

.Logo-selectArea {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.Logo-inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.Logo svg {
	height: 100%;
	width: 100%;
}

.Logo path {

}

.Logo svg * {
	-webkit-transition: all .45s;
	-moz-transition: all .45s;
	-ms-transition: all .45s;
	-o-transition: all .45s;
	transition: all .45s;
}

.Logo #ElbitLogoType {
	/*fill: #ffffff;*/
	fill: #000;
}

.Logo #ElbitLogo-bit {
	/*fill: transparent;*/
	fill: #ffc400;
}

.Logo .Logo-selectArea:hover #ElbitLogo * {
	fill: #000000;
}

.Logo .Logo-selectArea:hover #ElbitLogo-bit {
	fill: #ffc400;
	-webkit-transition: all .3s .225s;
	-moz-transition: all .3s .225s;
	-ms-transition: all .3s .225s;
	-o-transition: all .3s .225s;
	transition: all .3s .225s;
}

@media (min-width: 96em) {

	/* Logo */

	.Logo {
		height: 4.5em; /* width divided by 2 */
		width: 9em; /* height times 2 */
	}

}